.postList{
    margin-top: $margin-top-content;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    &_item{
        border: solid $color-black;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding:10px 10px;
        height: 100px;
        width: 400px;

        &_vote_img{
            display: flex;
            flex-direction: column;
            justify-content: start;
            height: 20px;
            width: 20px;
        }

        &_name{
            font-size: $link-font-size;           
            &_title{
                margin-left: 30px;
            }
        }
    
        &_description{
            color:$color-grey;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            font-size: 1.2rem;
        }        
    }

}