.navbar{
    height: 10px;
    width: 100%;
}

.link {
    padding-left: 1%;
    padding-right: 1%;
    float:right;
    a{
        font-weight: bolder;
        font-size: medium;    
    }    
}

.left {
    float: left;
    a{
        font-weight: bolder;
        font-size: larger;    
    }
}

.right {
    
}